*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body{
    background-color: rgb(245, 245, 245);
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* NAVBAR START */

.hd-container{
    background-color: #790403;
    overflow: hidden;
    border: 1px solid #790403;
    position: fixed;
    width: 100%;
}

.hd-container a{
    float: left;
    color: rgb(204, 204, 204);
    text-decoration: none;
    text-align: center;
    padding-left: 15px;
    padding-bottom: 7px;
    padding-right: 13px;
    padding-top: 16px;
    font-size: 14px;
    font-weight: 549;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.hd-container a.nav-right{
    float: right;
}

.hd-container a.logo{
    font-size: 20px;
    padding-top: 12px;

}

.hd-container a:hover{
    color: #fff;
    background-color: #900604;
}

.hd-container .logo:hover{
    color: #fff;
    background-color: #790403;
    
}

/* NAVBAR END */



/* CONTAINER */
.cover{
    display: flex;
}
/* CONTAINER */


/* ASIDE START */
.bd{
    border-radius: 5px;
    margin-top: 55px;
    padding-right: 10px;
    margin-right: 40px;
}

.scrolling-down {
margin-bottom: 460px;
margin-left: 5px;
}

.scrolling-up {
margin-top: 460px;
margin-left: 5px;
}

aside{
    position: fixed;
}
/* ASIDE END */




/* SECTION START */
.cv{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin-top: 55px;
    margin-left: 55px;
    padding: 20px;
    border: 1px solid hsla(0, 0%, 52%, 0.347);
    justify-content: flex-start;
}

.main h1{
    font-weight: normal;
    font-size: 2.5em;
    line-height: 1;
    padding: 10px;
    padding-left: 0;
    color: rgb(51, 51, 51);
}

h1 h2, h3 {
    font-weight: normal;
}

small{
    font-size: 1.63em;
    color: #999999;
    line-height: 1;
}

.waup{
    color: #930303;
}

.waup:hover{
    text-decoration: underline;
}

.para p{
    font-size: 13.9px;
    font-weight: normal;
    color: #333333;
    line-height: 1.4;
}
.blank-space {
    height: 13px;
}

.blank-spaceo {
    height: 10px;
}

.linnk{
    font-size: 21px;
    box-sizing: border-box;
}

.linnk a{
    color: #930303;
}

.linnk a:hover{
    text-decoration: underline;
}
.proc a:hover{
    text-decoration: underline;
}

.proc h3{
    font-size: 24px;
    box-sizing: border-box;
}
.proc{
    display: flex;
    margin-right: 3.2em;
}

.support p{
    font-weight: normal;
    font-size: 13px;
}

marquee .mar-txt{
    font-weight: normal;
    font-size: 14px;
}
/* SECTION END */



/* FOOTER */
.foot{
    display: block;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 10px;
    line-height: 1.4;

}

.foot span{
    font-size: 14.6px;
    float: right;
    margin-right: 65px;
    font-weight: normal;
}
/* FOOTER END */